In [1]:
import pandas as pn

In [2]:
import os
os.getcwd()

'C:\\Users\\ANANYA'

In [3]:
os.chdir("D:\MY Project\Sentiment2")

In [4]:
os.getcwd()

'D:\\MY Project\\Sentiment2'

In [8]:
data = pn.read_csv('TeePublic_review.csv', encoding='latin1')

In [9]:
data.head(3)

,reviewer_id,store_location,latitude,longitude,date,month,year,title,tweet_text,review-label,Sentiment,Score
0,0,US,37.09024,-95.712891,2023,6,2015 00:00:00,Great help with lost order,I had an order that was lost in transit. When ...,5,negative,0.137426
1,1,US,37.09024,-95.712891,2023,6,2024 00:00:00,I ordered the wrong size tee and had,I ordered the wrong size tee and had difficult...,5,negative,0.436105
2,2,US,37.09024,-95.712891,2023,6,2017 00:00:00,These guys offer the best customer,These guys offer the best customer service in ...,5,positive,0.852810

In [10]:
data.shape

(247591, 12)

In [13]:
pip install pandas nltk

Requirement already satisfied: pandas in c:\users\ananya\anaconda3\lib\site-packages (2.1.4)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: nltk in c:\users\ananya\anaconda3\lib\site-packages (3.8.1)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\ananya\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ananya\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ananya\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ananya\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: click in c:\users\ananya\anaconda3\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\ananya\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\ananya\anaconda3\lib\site-packages (from nltk) (2023.10.3)
Requirement already satisfied: tqdm in c:\users\ananya\anaconda3\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: six>=1.5 in c:\users\ananya\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: colorama in c:\users\ananya\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

In [14]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.probability import FreqDist

In [15]:
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ANANYA\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ANANYA\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [18]:
def extract_keywords(text):
    if isinstance(text, str):  # Check if the text is a string
        # Tokenize the text
        words = word_tokenize(text.lower())
        # Remove stopwords and non-alphabetic tokens
        words = [word for word in words if word.isalpha() and word not in stopwords.words('english')]
        # Get frequency distribution
        freq_dist = FreqDist(words)
        # Get the most common keywords
        keywords = [word for word, freq in freq_dist.most_common()]
        return ', '.join(keywords)
    else:
        return ''

In [19]:
data['keywords'] = data['title'].apply(extract_keywords)

In [21]:
data.head(3)

,reviewer_id,store_location,latitude,longitude,date,month,year,title,tweet_text,review-label,Sentiment,Score,keywords
0,0,US,37.09024,-95.712891,2023,6,2015 00:00:00,Great help with lost order,I had an order that was lost in transit. When ...,5,negative,0.137426,"great, help, lost, order"
1,1,US,37.09024,-95.712891,2023,6,2024 00:00:00,I ordered the wrong size tee and had,I ordered the wrong size tee and had difficult...,5,negative,0.436105,"ordered, wrong, size, tee"
2,2,US,37.09024,-95.712891,2023,6,2017 00:00:00,These guys offer the best customer,These guys offer the best customer service in ...,5,positive,0.852810,"guys, offer, best, customer"

In [23]:
data.to_csv(r'D:\MY Project\Sentiment2\output file\output.csv')